@charset "UTF-8";

.container {
  border: 1px solid #1b0303;
}

.box {
  background-color: #f53838;
  width: 300px;
  height: 200px;
}

.div {
  margin-bottom: 2px;
  color: #006DD9;
  width: 400px;
  height: 100px;
  background-color: #aaa;
}

/* CSSに記述します */

.sample2 {
  font-size: 20px;
  font-family: "monospace", "Yu Gothic", "Meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4", "sans-serif";
}

.margin_bottom_2em {
  margin-bottom: 2em;
}

.margin_bottom_2px {
  margin-bottom: 2px;
}

.btn-orange,
a.btn-orange {
  color: #fff;
  background-color: #eb6100;
  width: 80px;
}

.btn-orange:hover,
a.btn-orange:hover {
  color: #fff;
  background: #f56500;
}

.btn-orange-all,
a.btn-orange {
  width: 330px;
}

.btn-black,
a.btn-black {
  color: #fff;
  background-color: #333333;
}

.btn-black:hover,
a.btn-black:hover {
  color: #fff;
  background: #333333;
}

.btn-yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
  width: 330px;
}

.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

