@charset "UTF-8";

/* サイト全体のフォント指定 */

body {
  font-family: "monospace";
  color: white;
}

body {
  background-image: url(/images/vintage-wallpaper.png?78ee9c8a6a9f322010a59e932bc83920);
}

.cardPropaty {
  background-image: url(/images/vintage-wallpaper.png?78ee9c8a6a9f322010a59e932bc83920);
}

.stress_roman_letter {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 40px;
  color: #333;
  margin: 0;
}

.container {
  border: 1px solid #1b0303;
}

.containerInb {
  border: 0px solid #1b0303;
  padding: 20px;
}

.box {
  background-color: #f53838;
  width: 300px;
  height: 200px;
}

.div {
  margin-bottom: 2px;
  color: #006DD9;
  width: 400px;
  height: 100px;
  background-color: #aaa;
}

/* CSSに記述します */

.sample2 {
  font-size: 20px;
  font-family: "monospace", "Yu Gothic", "Meiryo", "\30D2\30E9\30AE\30CE\89D2\30B4", "sans-serif";
}

.margin_top_100px {
  margin-top: 100px;
}

.margin_bottom_2em {
  margin-bottom: 2em;
}

.margin_bottom_2px {
  margin-bottom: 2px;
}

.btn-orange,
a.btn-orange {
  color: #fff;
  background-color: #eb6100;
  width: 90px;
}

.btn-orange:hover,
a.btn-orange:hover {
  color: #fff;
  background: #f56500;
}

.btn-orange-all,
a.btn-orange {
  width: 330px;
}

.btn-black,
a.btn-black {
  color: #fff;
  background-color: #333333;
}

.btn-black:hover,
a.btn-black:hover {
  color: #fff;
  background: #333333;
}

.btn-outline-success,
a.btn-outline-success {
  width: 100%;
}

.btn-yellow {
  color: #09090a;
  background-color: #c5d1e6;
  border-bottom: 5px solid #382f23;
  width: 100%;
}

.btn--yellow {
  color: #09090a;
  background-color: #c5d1e6;
  border-bottom: 5px solid #382f23;
}

.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #382f23;
}

a.btn--circle {
  width: 60px;
  height: 60px;
  padding: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle i {
  font-size: 150%;
  line-height: 60px;
  transition: all 0.3s;
  letter-spacing: 0;
}

a.btn--circle:hover i {
  line-height: 55px;
}

.copyright {
  color: #777;
  text-align: center;
}

a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}

.csvBox {
  margin-top: 20px;
  margin-bottom: 5px;
}

.example {
  margin: 10px auto;
  width: 50px;
}

.centering {
  text-align: center;
}

a.btn--red.btn--border-outset {
  border: 6px outset #b9000e;
}

.primaryBtnWidth {
  width: 216px;
}

.loginBody {
  background-image: url(/images/loginKitty.jpg?91d39783909bb9a5c052ebbeb7e88fd9);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: contain;
  width: 100%;
  height: 400px;
}

